{% extends 'base.html' %}

{% block content %}

{% load static %}


<!-- navigation start -->

<!-- navigation end -->

<!-- main start -->
<main class="js-animsition-overlay" data-animsition-overlay="true">
	<!-- page head start -->
	{% for banner in video_banner  %}
	<section id="up" class="pos-rel bg-img-cover" style="background-image: url({{banner.image.url}})">
		<!-- video -->
		<video src="{{banner.video.url}}" class="video-bg" muted loop autoplay playsinline></video>
		<!-- bg-overlay -->
		<div class="bg-overlay-black"></div>
		<!-- pos-rel start -->
		<div class="pos-rel flex-min-height-100vh">
			<div class="padding-top-bottom-120 container small after-preloader-anim">
				<!-- title start -->
				<h2 class="headline-xxxxl hidden-box">
					<span class="anim-slide">{{banner.title}}</span>
				</h2>
				<!-- title end -->
				<p class="subhead-m margin-top-20 anim-fade tr-delay-01">
					{{banner.short_description}}
				</p>

				{% if banner.button_title %}
				<div class="margin-top-30 anim-fade tr-delay-02">
					<a href="{{banner.url}}" class="border-btn js-pointer-large">
						<span class="border-btn__inner">{{banner.button_title}}</span>
						<span class="border-btn__lines-1"></span>
						<span class="border-btn__lines-2"></span>
					</a>
				</div>
				{% endif %}
			</div>
		</div>
		<!-- pos-rel end -->
	</section>
	{% endfor %}

	<!-- page head end -->
</main>
<!-- main end -->

<!-- about start  -->
<section class="pos-rel section-bg-dark-2">
	<!-- pos-rel start -->
	<div class="pos-rel flex-min-height-100vh">
		<!-- container start -->
		{% for obj in about  %}
		<div class="container padding-top-100 padding-bottom-120">
			<!-- flex-container start -->
			<div class="flex-container">
				<!-- column start -->
				<div class="four-columns column-100-100 padding-top-20">
					<h2 class="headline-s hidden-box js-scrollanim">
						<span class="anim-slide">{{obj.title}}</span>
					</h2>
				</div>
				<!-- column end -->

				<!-- column start -->

				<!-- column end -->
			</div>
			<!-- flex-container end -->

			<!-- flex-container start -->
			<div class="flex-container flex-align-center padding-top-60">
				<!-- column start -->
				<div class="six-columns column-100-100 padding-top-30">
					<div class="anim-fade js-scrollanim">
						<img class="img-hover-scale" src="{{obj.image.url}}" alt="New album" />
					</div>
				</div>
				<!-- column end -->

				<!-- column start -->
				<div class="six-columns column-100-100">
					<div class="column-l-margin-40-999 anim-fade js-scrollanim">
						<div class="eight-columns column-100-100">
							<div class="">
								<p class="body-text-m anim-text-reveal js-scrollanim">
									{{obj.description}}
								</p>
							</div>
						</div>

						<!-- list start -->
						<ul class="list list_row list_margin-20px padding-top-30">
							<li class="list__item">
								<a href="{% url 'about-page' %}" class="border-btn js-pointer-large">
									<span class="border-btn__inner"><i class="fa fa-info-circle" aria-hidden="true"></i>
										Learn more</span>
								</a>
							</li>
						</ul>
						<!-- list end -->
					</div>
				</div>
				<!-- column end -->
			</div>
			<!-- flex-container end -->
		</div>
		{% endfor %}
		<!-- container end -->
	</div>
	<!-- pos-rel end -->
</section>
<!-- about end   -->

<!-- image Sliders start  -->

<section id="down" class="pos-rel section-bg-dark-2">
	<!-- pos-rel start -->
	<div class="pos-rel padding-top-bottom-120">
		<!-- flex-container start -->
		<div class="container flex-container padding-bottom-70">
			<!-- column start -->
			<div class="six-columns padding-bottom-20">
				<!-- title start -->
				<h2 class="column-l-r-margin-10 headline-m js-scrollanim">
					<span class="hidden-box d-block">
						<span class="anim-slide">
							Membership </span>
					</span>
					<span class="hidden-box d-block">
						<span class="anim-slide tr-delay-01 text-color-red">Perks</span>
					</span>
				</h2>
				<!-- title end -->
			</div>
			<!-- column end -->

			<!-- column start -->
			<div class="six-columns padding-bottom-20">
				<div class="column-l-r-margin-10">
					{% for obj in membership_perks %}
					<p class="body-text-s anim-text-reveal js-scrollanim">
						{% autoescape off %}
						{{ obj.description|safe|escape }}
						{% endautoescape %}
					</p>
					{% endfor %}


					<!-- list start -->
					<ul class="list text-color-dadada margin-top-30 js-scrollanim">
						{% for points in key_points %}
						<li class="list__item red dot hidden-box">
							<div class="subhead-xxs anim-slide">{{points.key_points}}</div>
						</li>
						{% endfor %}

					</ul>
					<!-- list end -->
				</div>
			</div>
			<!-- column end -->
		</div>
		<!-- flex-container end -->

		<!-- js-infinite-slider start -->
		<div class="js-infinite-slider about-slider hidden-box">
			<!-- swiper-wrapper start -->
			<div class="swiper-wrapper">
				<!-- swiper-slide start -->
				{% for screenshot in profit_screenshot %}
				<div class="swiper-slide">
					<img src="{{screenshot.image.url}}" alt="About us" />
				</div>
				{% endfor %}

				<!-- swiper-slide end -->
			</div>
			<!-- swiper-wrapper end -->
		</div>
		<!-- js-infinite-slider end -->
	</div>
	<!-- pos-rel end -->
</section>

<!-- image Sliders end  -->

<!-- our creative team start  -->

<section class="pos-rel section-bg-dark-2">
	<!-- pos-rel start -->
	<div class="pos-rel padding-top-bottom-120">
		<!-- title start -->
		<h2 class="headline-xxl text-center js-scrollanim hidden-box">
			<span class="anim-slide">
				Our <span class="text-color-red">Courses</span>
			</span>
		</h2>
		<!-- title end -->

		<!-- js-3-view-slider start -->
		<div class="js-3-view-slider padding-top-bottom-90 hidden-box pos-rel">
			<!-- swiper-wrapper start -->
			<div class="swiper-wrapper js-slider-scroll-anim">
				<!-- swiper-slide start -->
				<div class="swiper-slide">
					<!-- anim-img-scale start -->
					<div class="anim-img-scale hover-box">
						<img class="anim-img-scale__inner"
							src="assets/images/team/team_slider/red-air-jordan-baseball-cap-3452649.jpg"
							alt="Jason Hardeman" />
					</div>
					<!-- anim-img-scale end -->
					<!-- content start -->
					<div class="margin-top-20 margin-left-20">
						<h4 class="subhead-m anim-text-double-fill tr-delay-01" data-text="Jason
									Hardeman">
							Jason Hardeman
						</h4>
						<br />
					</div>
					<!-- content end -->
				</div>
				<!-- swiper-slide end -->
			</div>
			<!-- swiper-wrapper end -->

			<!-- swiper-button-prev start -->
			<div class="swiper-button-prev-box">
				<div class="swiper-button-prev"></div>
			</div>
			<!-- swiper-button-prev end -->
			<!-- swiper-button-next start -->
			<div class="swiper-button-next-box">
				<div class="swiper-button-next"></div>
			</div>
			<!-- swiper-button-next end -->

			<!-- swiper-pagination start -->
			<div class="pagination-box">
				<div class="swiper-pagination counter-pagination"></div>
			</div>
			<!-- swiper-pagination end -->
		</div>
		<!-- js-3-view-slider end -->
	</div>
	<!-- pos-rel end -->
</section>

<!-- our creative team end  -->

<!-- featured start  -->
<section class="pos-rel section-bg-dark-1">
	<!-- pos-rel start -->
	<div class="pos-rel flex-min-height-100vh">
		<!-- container start -->
		<div class="padding-top-bottom-120 container">
			<!-- title start -->
			<h2 class="headline-l js-scrollanim">
				<span class="hidden-box d-block">
					<span class="anim-slide">
						<span class="text-color-red">Featured</span>
					</span>
				</span>
				<span class="hidden-box d-block">
					<span class="anim-slide tr-delay-01">On</span>
				</span>
			</h2>
			<!-- title end -->

			<!-- clients-lines start -->
			<div class="clients-lines padding-top-90">
				<!-- clients-lines__column start -->
				{% for featured in featured_photo %}
				<div class="clients-lines__column">
					<div class="clients-lines__inner hover-box pos-rel">
						<a href="{{featured.url}}" target="_blank">
							<img class="client-logo pos-abs pos-center-center" src="{{featured.image.url}}"
								alt="Featured" />
						</a>
					</div>
				</div>
				{% endfor %}
				<!-- clients-lines__column end -->
			</div>
			<!-- clients-lines end -->
		</div>
		<!-- container end -->
	</div>
	<!-- pos-rel end -->
</section>
<!-- featured end  -->

<!-- testimonials start  -->
<section class="pos-rel section-bg-light-1" data-midnight="black">
	<!-- pos-rel start -->
	<div class="pos-rel flex-min-height-100vh">
		<!-- padding-top-bottom-120 start -->
		<div class="padding-top-bottom-120 width-100perc">
			<!-- title start -->
			<h2 class="headline-xxl text-color-black text-center hidden-box">
				<span class="anim-slide js-scrollanim">Testimonials</span>
			</h2>
			<!-- title end -->

			<!-- js-2-view-slider start -->
			<div class="js-2-view-slider padding-top-bottom-90 hidden-box pos-rel">
				<!-- swiper-wrapper start -->
				<div class="swiper-wrapper js-slider-scroll-anim">
					<!-- swiper-slide start -->
					{% for testimonial in testimonials %}
					<div class="swiper-slide slide-scale-anim">
						<div
							class="margin-left-right-20 padding-left-right-20 padding-top-bottom-40 content-bg-light-2 border-radius-10px">
							<p class="margin-bottom-30 quote quote_bottom body-text-m text-color-black text-center">
								{{testimonial.testimonial}}
							</p>
							<!-- anim-img-scale start -->
							<div class="anim-img-scale testimonials-author border-radius-50perc">
								<img class="anim-img-scale__inner"
									src="assets/images/testimonials/woman-wearing-white-and-black-shirt-1388888.jpg"
									alt="author" />
							</div>
							<!-- anim-img-scale end -->
							<div class="margin-top-20 text-center">
								<span class="headline-xxxs text-color-black">{{testimonial.name}}</span><br />
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- swiper-slide end -->
				</div>
				<!-- swiper-wrapper end -->

				<!-- swiper-button-prev start -->
				<div class="swiper-button-prev-box">
					<div class="swiper-button-prev black"></div>
				</div>
				<!-- swiper-button-prev end -->
				<!-- swiper-button-next start -->
				<div class="swiper-button-next-box">
					<div class="swiper-button-next black"></div>
				</div>
				<!-- swiper-button-next end -->

				<!-- swiper-pagination start -->
				<div class="pagination-box">
					<div class="swiper-pagination counter-pagination black"></div>
				</div>
				<!-- swiper-pagination end -->
			</div>
			<!-- js-2-view-slider end -->
		</div>
		<!-- padding-top-bottom-120 end -->
	</div>
	<!-- pos-rel end -->
</section>
<!-- testimonials end -->

<!-- Certificate start  -->
<section>
	<div class="width-100perc padding-top-100 padding-bottom-120">
		<!-- flex-container start -->
		<div class="container flex-container">
			<div class="column-r-margin-20-999">
				<!-- <h2>our</h2> -->
				<h2 style="font-size: 60px" class="headline-s anim-text-double-fill js-scrollanim"
					data-text="Certificates">
					Certificates
				</h2>
			</div>
		</div>

		<!-- js-infinite-slider start -->
		<div class="js-infinite-slider hidden-box padding-top-120">
			<!-- swiper-wrapper start -->
			<div class="swiper-wrapper">
				<!-- swiper-slide start -->
				{% for certificate in certificate_image %}
				<div class="swiper-slide text-center">
					<img class="client-logo" src="{{certificate.image.url}}" alt="Certificate" />
				</div>
				{% endfor %}
				<!-- swiper-slide end -->
			</div>
			<!-- swiper-wrapper end -->
		</div>
		<!-- js-infinite-slider end -->
	</div>
</section>
<!-- Certificate end -->


<!-- recommend books start  -->
<section class="pos-rel section-bg-dark-1">
	<!-- pos-rel start -->
	<div class="pos-rel padding-top-bottom-120">
		<!-- title start -->
		<h2 class="headline-xxl text-center js-scrollanim">
			<span class="anim-text-fill" data-text="Recommend">Recommend</span>
			<span class="text-color-red anim-text-fill tr-delay-02" data-text="Books">Books</span>
		</h2>
		<!-- title end -->

		<!-- js-3-view-slider start -->
		<div class="js-3-view-slider padding-top-bottom-90 hidden-box pos-rel">
			<!-- swiper-wrapper start -->
			<div class="swiper-wrapper js-slider-scroll-anim">
				<!-- swiper-slide start -->
				{% for book in books_image %}
				<div class="swiper-slide">
					<!-- anim-img-scale start -->
					<a href="{{book.url}}" class="anim-img-scale d-block js-pointer-large js-animsition-link">
						<img class="anim-img-scale__inner" src="{{book.image.url}}" alt="album" />
					</a><!-- anim-img-scale end -->
					<!-- content start -->
					<div class="margin-top-20 margin-left-right-20 text-center">
						<h3 class="d-inline-block hidden-box">
							<span class="headline-xxxs anim-reveal red tr-delay-01">{{book.book_name}}</span>
						</h3>
					</div>
					<!-- content end -->
				</div>
				{% endfor %}
				<!-- swiper-slide end -->
			</div>
			<!-- swiper-wrapper end -->

			<!-- swiper-button-prev start -->
			<div class="swiper-button-prev-box">
				<div class="swiper-button-prev"></div>
			</div>
			<!-- swiper-button-prev end -->
			<!-- swiper-button-next start -->
			<div class="swiper-button-next-box">
				<div class="swiper-button-next"></div>
			</div>
			<!-- swiper-button-next end -->

			<!-- swiper-pagination start -->
			<div class="pagination-box">
				<div class="swiper-pagination counter-pagination"></div>
			</div>
			<!-- swiper-pagination end -->
		</div>
		<!-- js-3-view-slider end -->
	</div>
	<!-- pos-rel end -->
</section>
<!-- recommend books end  -->

<!-- logo reveal video start -->
{% for obj in intro %}
<div class="pos-rel bg-img-cover height-100vh" style="
        background-image: url({{obj.image.url}});">
	<div class="bg-overlay-black"></div>
	<div class="pos-rel height-100perc">
		<a href="{{obj.video}}" class="play-button js-popup-youtube js-pointer-large">
			<span class="play-button__inner"></span>
		</a>
	</div>
</div>
{% endfor %}

<!-- logo reveal video end -->

<!-- Counts for clients and subscriber start  -->
{% for obj in subscriber %}
<div id="target" class="flex-container-count loader">
	<div class="flex-item-left">
		<svg class="h-8 w-8 text-red-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
			stroke-linecap="round" stroke-linejoin="round">
			<path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
			<circle cx="8.5" cy="7" r="4" />
			<line x1="20" y1="8" x2="20" y2="14" />
			<line x1="23" y1="11" x2="17" y2="11" />
		</svg>
		<h1 class="counter ">{{obj.premium_clients_users}}</h1>
		<h2>Premium Clients</h2>
	</div>
	<div class="flex-item-right">
		<svg class="h-8 w-8 text-red-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
			stroke-linecap="round" stroke-linejoin="round">
			<path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
			<circle cx="8.5" cy="7" r="4" />
			<line x1="20" y1="8" x2="20" y2="14" />
			<line x1="23" y1="11" x2="17" y2="11" />
		</svg>
		<h1 class="counter">{{obj.international_clients_users}}</h1>
		<h2>International Clients</h2>
	</div>
	<div class="flex-item-right flex-item-right_bottom">
		<svg class="h-8 w-8 text-red-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
			stroke-linecap="round" stroke-linejoin="round">
			<path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
			<circle cx="8.5" cy="7" r="4" />
			<line x1="20" y1="8" x2="20" y2="14" />
			<line x1="23" y1="11" x2="17" y2="11" />
		</svg>
		<h1 class="counter">{{obj.subscriber_users}}</h1>
		<h2>Subscriber</h2>
	</div>
</div>
{% endfor %}
<!-- Counts for clients and subscriber end -->


</body>
<!-- footer start -->

<!-- footer end -->

{% endblock %}